@using System.Web.Optimization
@using Web.Extensions
@model Web.Models.View.FlightListViewModel
@{
    ViewBag.Title = "Flights";
    ViewBag.PageTitle = "Flights schedule";
}
<nav class="navbar navbar-default" role="navigation">
    @{ Html.RenderPartial("_GetSearchPanel", Model.SearchViewModel); }
</nav>

@if (Roles.IsUserInRole(User.Identity.Name, "Dispecher"))
{
    <div class="btn-group">
        <input type="button" class="btn btn-success btn-lg" value="Create flight" onclick="location.href = '@Url.Action("Create", "Flight")' " />
        <input type="button" class="btn btn-info btn-lg" value="Get report" onclick="location.href = '@Url.Action("GetReport", "Flight")' " />
    </div>
}

<div class="panel panel-info">
    <div class="panel-heading">@ViewBag.Title</div>
    <table class="table" id="table">
        @{ Html.RenderPartial("_GetTable", Model.FlightsTableViewModel);}
    </table>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/flight-script.js")
}
