@using System.Web.Optimization
@model IEnumerable<Web.Models.View.WorkerViewModel>

@{
    ViewBag.Title = "Staff";
    ViewBag.PageTitle = "Staff list";
}

<div class="btn-group">
    <input type="button" class="btn btn-success btn-lg" value="New worker" onclick=" location.href = '@Url.Action("Create", "Staff")' " />
</div>

<div class="panel panel-info">
    <div class="panel-heading">@ViewBag.Title</div>
    <table class="table">
        <thead>
            <tr>
                <th>Position</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Age</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="workers">
        @{ Html.RenderPartial("_GetWorkersList", Model) ;}
        </tbody>
    </table>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/staff-script.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.11.4.min.js")
}

