body, p, h1, h2, h3, h4, h5, h6, a, ul, ol, li {
	border:0;
	outline:0;
	font-family:Arial, Helvetica, Sans-Serif;
	color:#fff;
	vertical-align:baseline;
	list-style:none;
	text-decoration:none;
	line-height:1.5em;
	margin:0;
	padding:0
}

@font-face {
	font-family: 'OstrichSansCondensedLight';
	src: url('~/../../fonts/ostrich-light-webfont.eot');
	src: url('~/../../fonts/ostrich-light-webfont.eot?#iefix') format('embedded-opentype'),  url('~/../../fonts/ostrich-light-webfont.woff') format('woff'),  url('~/../../fonts/ostrich-light-webfont.ttf') format('truetype'),  url('~/../../fonts/ostrich-light-webfont.svg#OstrichSansCondensedLight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OstrichSansMedium';
	src: url('~/../../fonts/ostrich-regular-webfont.eot');
	src: url('~/../../fonts/ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('~/../../fonts/ostrich-regular-webfont.woff') format('woff'),  url('~/../../fonts/ostrich-regular-webfont.ttf') format('truetype'),  url('~/../../fonts/ostrich-regular-webfont.svg#OstrichSansMedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OstrichSansBold';
	src: url('~/../../fonts/ostrich-bold-webfont.eot');
	src: url('~/../../fonts/ostrich-bold-webfont.eot?#iefix') format('embedded-opentype'),  url('~/../../fonts/ostrich-bold-webfont.woff') format('woff'),  url('~/../../fonts/ostrich-bold-webfont.ttf') format('truetype'),  url('~/../../fonts/ostrich-bold-webfont.svg#OstrichSansBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OstrichSansBlack';
	src: url('~/../../fonts/ostrich-black-webfont.eot');
	src: url('~/../../fonts/ostrich-black-webfont.eot?#iefix') format('embedded-opentype'),  url('~/../../fonts/ostrich-black-webfont.woff') format('woff'),  url('~/../../fonts/ostrich-black-webfont.ttf') format('truetype'),  url('~/../../fonts/ostrich-black-webfont.svg#OstrichSansBlack') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OstrichSansRoundedMedium';
	src: url('~/../../fonts/ostrich-rounded-webfont.eot');
	src: url('~/../../fonts/ostrich-rounded-webfont.eot?#iefix') format('embedded-opentype'),  url('~/../../fonts/ostrich-rounded-webfont.woff') format('woff'),  url('~/../../fonts/ostrich-rounded-webfont.ttf') format('truetype'),  url('~/../../fonts/ostrich-rounded-webfont.svg#OstrichSansRoundedMedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OstrichSansDashedMedium';
	src: url('~/../../fonts/ostrich-dashed-webfont.eot');
	src: url('~/../../fonts/ostrich-dashed-webfont.eot?#iefix') format('embedded-opentype'),  url('~/../../fonts/ostrich-dashed-webfont.woff') format('woff'),  url('~/../../fonts/ostrich-dashed-webfont.ttf') format('truetype'),  url('~/../../fonts/ostrich-dashed-webfont.svg#OstrichSansDashedMedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	background:#195f88;
	background-image: url("~/../../Images/clouds.jpg");
	font-size:14px
}
div#wrap {
	width:1100px;
	position:relative;
	margin:0 auto!important
}
div#sidebar {
	width:220px;
	height:100%;
	float:left;
	background:#2c2c2c;
	border-right:1px solid #2e2f2f;
	position:fixed
}
a#logo {
	text-align:center;
	display:block;
	border-bottom:1px solid #353535;
	width:100%;
	position:relative;
	z-index:999;
	opacity:1;
	-webkit-transition:all 300ms;
	-moz-transition:all 300ms;
	-o-transition:all 300ms;
	transition:all 300ms;
	padding: 15px 0 9px 0;
}
ul#navigation {
	margin-top:25px;
	margin-right:-5px;
	position:relative;
	width:220px;
    z-index: 999;
}
ul#navigation li {
	border:none;
	background:none;
	margin:0;
	padding:0
}
ul#navigation li a:link, ul#navigation li a:visited {
	text-decoration:none;
	font-family:'OstrichSansBlack', Arial, sans-serif;
	margin-bottom:1px;
	width:auto;
	font-size:20px;
	text-align:left;
	padding-left:30px !important;
	display:block;
	transition:all 200ms;
	-webkit-transition:all 200ms;
	-moz-transition:all 200ms;
	-o-transition:all 200ms;
	padding:5px 10px 5px 0
}
ul#navigation li a:hover, ul#navigation li a.active {
	background:#1b1b1b;
	color:#FFF;
}
div#container {
	width:880px;
	float:right;
	padding-right:25px;
	left:-5px;
	position:relative;
	padding-top:0;
	background:#619ec2;
}
div.page {
	margin-bottom:5px;
	margin-bottom:0;
	padding-top:20px
}
div.page_content {
	padding:25px 0 40px 25px
}
div#container h3.page_title {
	font-family: 'OstrichSansBlack';
	margin-left:25px;
	font-size:35px;
	color:#fff;
	border-bottom:1px solid #fff;
	text-shadow:1px 1px 2px #185477;
	line-height:2;
    padding: 5px 0 0 0;
}

div.footer {
	text-align:center;
	font-size:12px;
	margin-top:40px;
	padding:15px 0
}
.gotop {
	position:fixed;
	right:15px;
	bottom:15px;
	opacity:.3;
	padding:10px;
	color:#fff;
	display:block;
	text-decoration:none;
	text-align:center;
	font-size:13px;
	font-weight:bold;
	z-index:999;
	transition:all 300ms;
	-webkit-transition:all 300ms
}
.gotop:hover {
	color:#eee;
	opacity:.7
}
.gotop.hidden {
	display:none;
	opacity:0
}
a.gotop {
	text-decoration:none!important
}
h1, h2, h3, h4, h5, h6 {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#1d1d1d
}

.first {
	clear:left
}
.last {
	clear:right
}

ul li {
	line-height:2;
	background:/*url(../images/icons/bullet.jpg)*/ no-repeat left center;
	padding-left:15px;
}
a:link, a:visited {
	text-decoration:underline
}
input, textarea, button {
	/*background:url(./images/bg/15.png);*/
	clear:both;
	float:left;
	font-style:italic;
	margin-bottom:1px;
	padding:10px
}
input {
	width:97.5%;
}
button {
	cursor:pointer;
	margin-right:-2px !important;
	font-style:normal
}
ol li {
	list-style:decimal inside;
	padding:5px 0
}
blockquote {
	border-left:5px solid #7cb3d3;
	font-style:italic;
	padding:10px;
	margin:20px;
}
div.page img {
	padding:5px;
	border:1px solid #73aaca;
	max-width:94%
}

div.page_content {
    color: #000;
    font-family: 'OstrichSansBlack';
    font-size: 1.3em;
}

.table thead > tr > th {
    color: blue;
    font-size: 1.3em;
}

tbody tr:hover {
    background: #cdcdff;
}